<div class="row">
  <div class="col-md-8">
    <h1>New Menu</h1>
    <span>Creating a new menu for <strong><%= @start_at.strftime("%b %d, %Y @ %l:%M%P") %> - <%= @end_at.strftime("%b %d, %Y @ %l:%M%P") %></strong></span>

    <br/><br/>
    <%= render 'recipes_list' %>
  </div>
  <div class="col-md-4">
    <div id="menus-sidebar">
      <%= render 'form' %>
    </div>
  </div>
</div>
