<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <%= simple_form_for @user, html: { class: "form-vertical" } do |f| %>
      <div class="row">
        <div class="col-sm-12">
          <h5>Change Your Password</h5>
        </div>
      </div>
      <div class="row append-bottom">
        <div class="col-sm-12">
          <input type="hidden" name="section" value="password">
          <%= f.input :password, label: false, type: 'password' %>
          <label for="password">New Password</label>
          <%= f.input :password_confirmation, label: false, type: 'password' %>
          <label for="password_confirmation">Password Confirmation</label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <%= f.button :submit, "Update", class: 'btn btn-orange btn-block' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
